<footer>
    <div class="footer_layout">
        <div class="footer__privacy">
            <p class="footer__logo">MINIMAL WEATHER</p>
            <a class="footer__policy" href="#">Privacy Policy</a>
            <a class="footer__service" href="#">Terms of Services</a>
        </div>
        <div class="footer__links">
            <div class="footer__frame">
                <p class="frame__title">Exlore</p>
                <ul>
                    <li>
                        <a href="#">Search</a>
                    </li>
                    <li>
                        <a href="#">Collect</a>
                    </li>
                    <li>
                        <a href="#">Discover</a>
                    </li>
                </ul>
            </div>
            <div class="footer__frame">
                <p class="frame__title">Company</p>
                <ul>
                    <li>
                        <a href="#">Careers</a>
                    </li>
                    <li>
                        <a href="#">Help Center</a>
                    </li>
                    <li>
                        <a href="#">Subscribe</a>
                    </li>
                </ul>
            </div>
            <div class="footer__frame">
                <p class="frame__title">Connect</p>
                <ul>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <a href="#">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
